.duck {
  color: #FFD700;
  display: inline-block;
  font-size: 40px; /* or icon size */
  animation: duckMove 4s infinite linear;
}

@keyframes duckMove {
  0% {
    transform: translateX(0) scaleX(-1);
  }

  49% {
    transform: translateX(300px) scaleX(-1);
  }

  50% {
    transform: translateX(300px) scaleX(1);
  }

  100% {
    transform: translateX(0) scaleX(1);
  }
}