.duck {
  color: #FFD700;
  transform: scaleX(-1);
  display: inline-block;
  font-size: 40px; /* or icon size */
  /* animation: duckMove 4s infinite linear; */
  animation: wobble 0.6s infinite ease-in-out;
}

@keyframes duckMove {
  0% {
    transform: translateX(0) scaleX(-1);
  }

  49% {
    transform: translateX(300px) scaleX(-1);
  }

  50% {
    transform: translateX(300px) scaleX(1);
  }

  100% {
    transform: translateX(0) scaleX(1);
  }
}

@keyframes wobble {
  0%   { transform: scaleX(-1) rotate(-6deg) translateY(0px); }
  50%  { transform: scaleX(-1) rotate(6deg) translateY(-2px); }
  100% { transform: scaleX(-1) rotate(-6deg) translateY(0px); }
}